{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add peers {% endblock %}</h1>
    <form method="post">
        <label for="user">User name</label>
        <br>
        <input type="text" name="user"
               placeholder="name of peer"
               value="{{ request.form['user'] }}"></input>
        <br></br>
        <!-- -->
        <label for="addr">IP address of peer</label>
        <br>
        <input type="text" name="addr"
                  placeholder="127.0.0.1"
                  value="{{ request.form['addr'] }}"
                  ></textarea>
        <br></br>
        <!-- -->
        <label for="port">Port to use for communications</label>
        <br>
        <input type="text" name="port"
                  placeholder="5555"
                  value="{{ request.form['port'] }}"
                  ></textarea>
        <br></br>
        <button type="submit">Add</button>
    </form>
{% endblock %}
