<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - CSE 7024 BC Page</title>
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <nav>
        <!--remember that argument of url_for needs to be function name, not html file name-->
        <a href="{{ url_for('index') }}">P2P DL on BC</a>
        <!--# is GNDN-->
        <a href="#">GNDN</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('get_specs') }}">New Block</a>
        <a href="{{ url_for('get_chain') }}">Last Block</a>
        <a href="{{ url_for('add_peers') }}">Add Peers</a>
        <a href="{{ url_for('save_chain') }}">Save Chain</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
